// variables
$bg-color: #f4f8f9;
$primary-color: #007ee5;
$light-color: #d0dce8;
$primary-font-color: #353535;
$secondary-font-color: #5a5a5a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  .name {
    color: $primary-font-color;
  }
  .location,
  .contact {
    font-size: 14px;
    color: $primary-font-color;
  }
}

body {
  background: $bg-color;

  #root {
    width: 80%;
    margin: auto;
  }
}
