// ------------------ header -------------------------

.header {
  margin-top: 3rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);

  &__logout {
    width: 100%;
    text-align: right;
  }

  &__logout-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $primary-color;
    border: 2px solid $primary-color;
    padding: 5px 10px;
  }

  &__cover-upload {
    width: 100%;
    text-align: center;
    margin: 1rem 0 2.5rem 0;
  }

  &__input {
    &--hidden {
      display: none;
    }
  }

  &__label {
    padding: 5px 10px 5px 50px;
    border: 1px solid $light-color;
    position: relative;
    cursor: pointer;
    transition: background 400ms;
    font-size: 14px;
    color: $secondary-font-color;

    &:hover {
      background: $bg-color;
    }
  }

  &__camera {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    line-height: 0;
    font-size: 1.3rem;
  }

  &__profile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    z-index: 1;
    width: 155px;
    height: 155px;
    margin-right: 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin-top: -20px;
  }

  &__image {
    width: 155px;
    height: 155px;
    object-fit: cover;
  }

  &__content {
    flex: 1;
  }

  &__flex-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 10px);
      left: -30px;
      width: calc(100% + 54px);
      height: 2px;
      background: $light-color;
    }
  }

  &__text {
    & > * {
      padding-bottom: 7px;
    }
  }

  &__location,
  &__contact {
    display: flex;
    align-items: center;
  }

  &__location-icon,
  &__contact-icon {
    padding-right: 4px;
  }

  &__review {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }

  &__review-span {
    margin-right: 15px;
  }

  &__primary-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-font-color;
    margin-right: 10px;
    font-weight: 700;
    transition: color 300ms;
    padding-bottom: 1.5rem;

    &:hover {
      color: rgba(90, 90, 90, 0.7);
    }

    &--active {
      position: relative;
    }

    &--active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $primary-color;
    }
  }
  &__secondary-options {
    display: flex;
    align-items: center;
  }

  &__add-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: grey;
  }

  &__secondary-options__span,
  &__add-icon {
    margin-right: 10px;
  }

  &__secondary-options__span {
    font-weight: 700;
  }
}
