// ---------------------main content -------------------

.main {
  margin-top: 2rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 2rem;
  min-height: 600px;
  margin-bottom: 200px;
  position: relative;

  &__edit {
    opacity: 0;
    pointer-events: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  &__header {
    margin-bottom: 1.5rem;
    color: $secondary-font-color;
    opacity: 0.6;
  }

  &__website-p {
    font-size: 14px;
    color: $primary-font-color;
  }

  &__website,
  &__location,
  &__contact,
  &__name {
    position: relative;
    display: flex;
    align-items: center;
    background: $bg-color;
    width: fit-content;
    height: 100%;
    margin-bottom: 3px;
    padding: 0 40px 0 5px;
    cursor: pointer;
  }

  &__website-icon,
  &__contact-icon,
  &__location-icon {
    padding-right: 15px;
    font-size: 1.2rem;
  }

  &__edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    background: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 400ms;

    &:hover {
      background: $primary-color;
    }
  }

  &__edit-icon {
    font-size: 1.2rem;
  }

  &__edit-btn--phone-size {
    display: none;
  }

  &__editing {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 140px;
    background: #fff;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 300ms;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 10px;
      width: 25px;
      height: 25px;
      background: #fff;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
      transform: translateX(-100%);
    }
  }

  &__editing__wrapper-input {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: $light-color;
      border-radius: 50px;
      transition: background 400ms;
    }

    input[type="text"] {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      text-align: left;
    }
  }
  &__editing__wrapper-input:focus-within {
    &::after {
      background: $primary-color;
    }
  }

  &__editing-label {
    position: absolute;
    top: 33px;
    left: 0;
    pointer-events: none;
    transition: all 400ms;
  }

  &__editing-span {
    opacity: 0.7;
    color: $primary-color;
  }

  &__editing__input {
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 3px 7px 3px 2px;
    width: 100%;

    &:focus + .main__editing-label,
    &:valid + .main__editing-label {
      top: 0;
    }

    &:focus + .main__editing-span {
      color: $primary-font-color;
    }
  }

  &__editing-save,
  &__editing-cancel {
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: background 400ms;
  }

  &__editing-buttons {
    display: flex;
    justify-content: space-around;
  }

  &__editing-save {
    background: $primary-color;

    &:hover {
      background: rgb(0, 106, 192);
    }
  }

  &__editing-cancel {
    border: 1px solid $primary-color;
    background: none;
    color: $primary-color;

    &:hover {
      background: rgba(0, 106, 192, 0.1);
    }
  }

  &__editing__wrapper-input--active {
    .main__editing-span {
      color: $secondary-font-color;
    }
    &::after {
      background: $primary-color;
    }
  }

  &__edit,
  &__setting,
  &__option1,
  &__option2,
  &__option3 {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &__edit--active {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }

  &__editing--active {
    opacity: 1;
    pointer-events: all;
  }

  &__phone-editing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #fff;
  }

  &__phone-container {
    width: 90%;
    margin: 0 auto;
  }

  &__phone-header {
    margin: 20px 0 35px 0;
    display: flex;
    justify-content: space-between;
  }

  &__phone-h {
    margin-bottom: 0;
  }

  &__phone-btns {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 7px;
  }

  &__phone-save-btn,
  &__phone-cancel-btn {
    background: none;
    outline: none;
    color: $primary-color;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  &__phone {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__phone-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 7px;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 5px);
      left: 0;
      width: 100%;
      height: 2px;
      background: $light-color;
      transition: background 300ms;
    }
  }

  &__phone-info:focus-within {
    &::after {
      background: $primary-color;
    }
  }

  &__phone-label {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 12px;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
    transition: all 400ms;
    margin-left: 5px;
  }

  &__phone-input {
    border: none;
    outline: none;
    padding: 3px 5px;

    &[type="text"] {
      font-size: 14px;
    }

    &:focus + .main__phone-label,
    &:valid + .main__phone-label {
      top: -15px;
    }
  }
}
