// ----------------- media queries --------------------

// ========= tablet ============

@media (max-width: 987px) {
  body {
    #root {
      width: 90%;

      .header {
        &__cover-upload {
          margin: 1.5rem 0 2rem 0;
        }

        &__logout-btn {
          font-size: 12px;
        }

        &__photo {
          margin-right: 10px;
          width: 130px;
          height: 130px;
        }

        &__image {
          width: 130px;
          height: 130px;
        }

        &__review {
          width: 170px;
        }

        &__review-star {
          font-size: 14px;
        }

        &__review-span {
          margin-right: 7px;
        }

        &__link {
          font-size: 12px;

          &--active::after {
            bottom: -2px;
          }
        }

        &__flex-wrapper::after {
          left: -10px;
          width: calc(100% + 35px);
        }

        &__location-p,
        &__contact-p,
        &__review-p,
        &__followers-p {
          font-size: 14px;
        }

        &__add-icon {
          font-size: 1.2rem;
        }

        &__secondary-options__span {
          margin-right: 0;
        }
      }
    }
  }
}

// ========= phone ============

@media (max-width: 700px) {
  body {
    #root {
      width: 100%;
      .header {
        margin-top: 30px;
        background: $bg-color;
        box-shadow: none;
        padding: 0;

        &__logout {
          width: 90%;
          margin: 0 auto;
        }

        &__logout-btn {
          font-size: 1rem;
          border: none;
        }

        &__cover-upload {
          display: none;
        }

        &__profile {
          margin-top: 50px;
          flex-direction: column;
        }

        &__photo {
          overflow: hidden;
          width: 150px;
          height: 150px;
          margin-right: 0;
        }

        &__image {
          width: 150px;
          height: 150px;
          margin: 60px -35px;
          transform: scale(1.8);
        }

        &__content {
          width: 100%;
        }

        &__flex-wrapper {
          flex-direction: column;
          width: 90%;
          margin: 0 auto;
          &::after {
            display: none;
          }
        }

        &__text > * {
          padding-bottom: 20px;
        }

        &__name {
          text-align: center;
          margin: 15px 0;
          font-size: 1.5rem;
          padding-bottom: 0 !important;
        }

        &__location-p,
        &__contact-p,
        &__review-p,
        &__followers-p {
          font-size: 1rem;
        }

        &__review-stars {
          margin-bottom: 15px;
        }

        &__review-star {
          color: blue;
          font-size: 1.5rem;
          outline: none;
          stroke: none;
        }

        &__review {
          flex-direction: column;
        }

        &__review-span {
          font-weight: 700;
        }

        &__primary-options {
          flex-direction: column-reverse;
        }

        &__wrapper-nav {
          overflow-x: hidden;
          overflow-y: visible;
          width: 100%;
          -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        }

        &__nav {
          padding: 0;
          width: 1000px;
          position: relative;
          height: 60px;
          background: #fff;
          align-self: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        &__link {
          padding-bottom: 0;
          height: 100%;
          display: grid;
          place-items: center;
          font-size: 1.2rem;
          margin-right: 20px;

          &--active::after {
            z-index: 100;
            bottom: 0px;
          }
        }

        &__secondary-options {
          align-self: flex-start;
          margin-bottom: 30px;
          width: 90%;
          margin: 0 auto 30px auto;
        }

        &__secondary-options__span {
          margin-right: 10px;
        }

        &__add-icon {
          font-size: 2rem;
        }
      }
      // ------- main-content ---------
      .main {
        border-radius: 0;
        margin-bottom: 50px;

        &__edit {
          height: 300px;
        }
        &__edit-btn {
          display: none;
        }

        &__edit-btn--phone-size {
          position: static;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #d0dce8;
          cursor: pointer;
        }

        &__wrapper-header {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: flex-start;
        }

        &__website,
        &__location,
        &__contact,
        &__name {
          padding: 0;
          background: none;
        }

        &__website-icon,
        &__contact-icon,
        &__location-icon {
          font-size: 1.5rem;
        }

        &__website-p {
          font-size: 1rem;
        }
      }
    }
  }
}
